#Cat-content {
  height: calc(100vh - 100px);
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  border-bottom: 1px solid #ef534f;
  margin-bottom: 2px;
}

/* Active/current link */
.sidebar a.active {
  background-color: #ef534f;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #ef534f;
  color: white;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
